.compare {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.desktop{
    width: 100%;
}
.mobile{
    width: 40%;
}
.images{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}
.production,
.staging{
    max-width: 50%;
    width: 50%;
}
img{
    width: 95%;
}
h1 {
    font-family: 'Tahoma';
}