<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMAGE COMPARISON</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="header">
      <div class="logo">
        <a href="#">IMAGE COMPARISON</a>
      </div>
      <nav>
        <ul>
          <li class="dropdown">
            <a href="">Desktop</a>
            <ul>
              {{MENUDESKTOP}}
            </ul>
          </li>
          <li class="dropdown">
            <a href="">Mobile</a>
            <ul>
              {{MENUMOBILE}}
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <iframe id="eliframe" src=""></iframe>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="js/app.js"></script>
  </body>
</html>
