<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  <body>
    <div class="compare {{device}}">
      <img src="{{comparison}}" alt="" />
    </div>
    <div class="images">
      <div class="production">
        <h1>IMAGE PRODUCTION</h1>
        <img src="{{production}}" alt="" />
      </div>
      <div class="staging">
        <h1>IMAGE STAGING</h1>
        <img src="{{staging}}" alt="" />
      </div>
    </div>
  </body>
</html>
